.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  background: #1a202c;
  color: aliceblue;
}

.container .header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  row-gap: 10px;
}

.chip {
  border-radius: 20px;
  color: aliceblue;
  border: 1px solid gray;
  padding: 3px 8px;
  cursor: pointer;
}
.activeChip {
  border: 1px solid #eec5c5;
  color: #e4b4b4;
}

.title {
  font-weight: bold;
  font-size: 1.5rem;
  color: aliceblue;
}

.body {
  display: flex;
  gap: 30px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
